In [10]:
import numpy as np
import pandas as pd 
import csv

In [12]:
inside_file = 'Weather_AQI_inside5.csv'
outside_file = 'Weather_AQI_outside5.csv'

In [39]:
dfinside = pd.read_csv(inside_file)
dfoutside = pd.read_csv(outside_file)
#display(dfinside)
useful_inside = dfinside[1:]
useful_outside = dfoutside[1:]
display(useful_inside)

,Time,Temp,Gas,Humidity,Pressure,Alt,PM 1.0,PM 2.5,PM 10
1,1.740179e+09,23.652266,23003,38.585995,1010.341255,24.245483,1,1,1
2,1.740179e+09,23.630977,36499,38.519166,1010.338508,24.268409,1,1,1
3,1.740179e+09,23.624727,46203,38.436305,1010.338964,24.264606,1,1,1
4,1.740179e+09,23.629219,52662,38.336989,1010.337423,24.277462,0,1,1
5,1.740179e+09,23.638203,57942,38.238195,1010.339635,24.259004,0,1,1
...,...,...,...,...,...,...,...,...,...
295,1.740179e+09,23.907930,153969,36.416951,1010.291429,24.661294,1,1,1
296,1.740179e+09,23.911641,154533,36.417318,1010.293912,24.640576,1,1,1
297,1.740179e+09,23.916133,154959,36.411964,1010.292364,24.653490,1,1,1
298,1.740179e+09,23.919844,154675,36.400735,1010.286020,24.706432,0,1,1
299,1.740179e+09,23.923750,155961,36.401120,1010.292350,24.653611,0,1,1

,Time,Temp,Gas,Humidity,Pressure,Alt,PM 1.0,PM 2.5,PM 10
1,1.740179e+09,22.590742,15613,34.694782,1009.205809,33.725191,1,2,2
2,1.740179e+09,22.637031,29428,34.613338,1009.208623,33.701686,1,2,2
3,1.740179e+09,22.675117,43357,34.485446,1009.210464,33.686316,1,2,2
4,1.740179e+09,22.700312,55212,34.362157,1009.205497,33.727797,1,2,2
5,1.740179e+09,22.722188,66114,34.250060,1009.209241,33.696524,1,2,2
...,...,...,...,...,...,...,...,...,...
295,1.740180e+09,18.484883,180481,42.237444,1009.163778,34.076275,0,1,1
296,1.740180e+09,18.485078,178194,42.297161,1009.160595,34.102858,0,1,1
297,1.740180e+09,18.486055,178383,42.327122,1009.160436,34.104191,0,1,1
298,1.740180e+09,18.491719,179330,42.375506,1009.166162,34.056362,0,1,1
299,1.740180e+09,18.497969,180288,42.417993,1009.167591,34.044423,0,1,1

PM 1.0:

In [71]:
inside_temp_std = np.std(useful_inside['PM 1.0'])/np.sqrt(300)
inside_temp_mean = np.mean(useful_inside['PM 1.0'])

outside_temp_std = np.std(useful_outside['PM 1.0'])/np.sqrt(300)
outside_temp_mean = np.mean(useful_outside['PM 1.0'])

if outside_temp_mean + 3*outside_temp_std < inside_temp_mean - 3*inside_temp_std:
    print('Number of particles with 1 micrometer in length are significantly different!')
else:
    print('Number of particles with 1 micrometer in length are not significantly different.')

Number of particles with 1 micrometer in length are significantly different!

PM 2.5:

In [77]:
inside_temp_std = np.std(useful_inside['PM 2.5'])/np.sqrt(300)
inside_temp_mean = np.mean(useful_inside['PM 2.5'])

outside_temp_std = np.std(useful_outside['PM 2.5'])/np.sqrt(300)
outside_temp_mean = np.mean(useful_outside['PM 2.5'])

if outside_temp_mean + 3*outside_temp_std < inside_temp_mean - 3*inside_temp_std:
    print('Number of particles with 2.5 micrometer in length are significantly different!')
else:
    print('Number of particles with 2.5 micrometer in length are not significantly different.')

Number of particles with 2.5 micrometer in length are not significantly different.

PM 10:

In [75]:
inside_temp_std = np.std(useful_inside['PM 10'])/np.sqrt(300)
inside_temp_mean = np.mean(useful_inside['PM 10'])

outside_temp_std = np.std(useful_outside['PM 10'])/np.sqrt(300)
outside_temp_mean = np.mean(useful_outside['PM 10'])

if outside_temp_mean + 3*outside_temp_std < inside_temp_mean - 3*inside_temp_std:
    print('Number of particles with 10 micrometer in length are significantly different!')
else:
    print('Number of particles with 10 micrometer in length are not significantly different.')

Number of particles with 10 micrometer in length are not significantly different.

Temp:

In [58]:
inside_temp_std = np.std(useful_inside['Temp'])/np.sqrt(300)
inside_temp_mean = np.mean(useful_inside['Temp'])

outside_temp_std = np.std(useful_outside['Temp'])/np.sqrt(300)
outside_temp_mean = np.mean(useful_outside['Temp'])

if outside_temp_mean + 3*outside_temp_std < inside_temp_mean - 3*inside_temp_std:
    print('Temperatures are significantly different!')
else:
    print('Temperatures are not significantly different.')

Temperatures are significantly different!

Altitide:

In [60]:
inside_alt_std = np.std(useful_inside['Alt'])/np.sqrt(300)
inside_alt_mean = np.mean(useful_inside['Alt'])

outside_alt_std = np.std(useful_outside['Alt'])/np.sqrt(300)
outside_alt_mean = np.mean(useful_outside['Alt'])

if outside_alt_mean + 3*outside_alt_std > inside_alt_mean - 3*inside_alt_std:
    print('Altitudes are significantly different!')
else:
    print('Altitudes are not significantly different.')

Altitudes are significantly different!

Humididty:

In [62]:
inside_Humidity_std = np.std(useful_inside['Humidity'])/np.sqrt(300)
inside_Humidity_mean = np.mean(useful_inside['Humidity'])

outside_Humidity_std = np.std(useful_outside['Humidity'])/np.sqrt(300)
outside_Humidity_mean = np.mean(useful_outside['Humidity'])

if outside_Humidity_mean + 3*outside_Humidity_std > inside_Humidity_mean - 3*inside_Humidity_std:
    print('Humidities are significantly different!')
else:
    print('Humidities are not significantly different.')

Humidities are significantly different!

Pressure:

In [64]:
inside_Pressure_std = np.std(useful_inside['Pressure'])/np.sqrt(300)
inside_Pressure_mean = np.mean(useful_inside['Pressure'])

outside_Pressure_std = np.std(useful_outside['Pressure'])/np.sqrt(300)
outside_Pressure_mean = np.mean(useful_outside['Pressure'])

if outside_Pressure_mean + 3*outside_Pressure_std < inside_Pressure_mean - 3*inside_Pressure_std:
    print('Pressures are significantly different!')
else:
    print('Pressures are not significantly different.')

Pressures are significantly different!